.site-main {
	clear: both;
}
.site-container {
	margin: $space 0;
	overflow: hidden;
	h1 {
		padding-bottom: 15px;
	}
}
.site-header {
	nav section {
		float: right;
		color:black;
		@include breakpoint($bp-small-3) {
			font-size: 1.1em;
			padding: $space $space-double;
			color:white;
		}
	}
}
.site-banner {
	display: block;
	padding: 25% 0;
	background: url(../../img/li.jpg) center center no-repeat;
	background-size: cover;
}
.site-article {
	padding: $space-double;
	margin-bottom: $space;
	background: lighten($primary, 100);
	text-align:left;
}

/* 
Latest activity block
 */
.latest_activity {
	background: darken($scheme-3, 10);
	padding:$space-half;
	h1 {
		font-size: 1.1em;
		padding-bottom: 0;
	}
}

/* 
Forum table styling --needs tidying up--
 */
.forum--container {
	min-width: 250px;
	a {
		text-decoration: underline;
	}
	margin: 1% 0;
	border: 1px solid $scheme-1;

	thead {
		tr {
			background: darken($scheme-3, 20);
			border-bottom:1px solid black;
		}
		th {
			padding: 10px 0;
			font-size: 1.2em;
		}
	}

	>tbody {
		>td {
			padding-top: $space*1.5;
		}	
		>tr:nth-child(odd) {
			a:hover {
				color: $scheme-4;
			}
			a.btn:hover {
				color:white;
			}
		}
		>tr:nth-child(even) {
			background: $scheme-5;
		}
	}
	.forum--group-title {
		th {
			background: darken($scheme-3, 20);
			font-size: 1.4em;
			padding:$space-half/2;
		}
	}
	.forum--empty {
		padding: 10px;
	}
	.forum--title {
		@include span(9 of 12);
		padding-left: $space;
		a {
			text-decoration: none;
			display: block;
			padding: $space*1.5 $space;
		}
	}
	td.forum--title {
		padding: 0;
		line-height: 1;
		span {
			font-size: 0.8em;
			font-style: italic;
		}
	}
	.forum--latest {
		@include span(3 of 12);
	}
	td.forum--latest, td.forum--stats, td.forum--author, .forum--meta {
		font-size: 0.9em;
	}
	
	@include breakpoint($bp-med) {
		&.index {
			.forum--title {
				@include span(8 of 12);
			}
			.forum--stats, .forum--author {
				text-align: center;
			}
		}
		.forum--title {
			@include span(6 of 12);
		}
		.forum--stats {
			@include span(2 of 12);
			text-align: right;
		}
		.forum--author {
			@include span(2 of 12);
			text-align: center;
		}
		.forum--latest {
			@include span(2 of 12);
		}
	}
}

/* 
Posts
 */
.post--container {
	min-width:250px;
	border: 1px solid $scheme-1;
	background: $scheme-3;
	margin-bottom: $space;
	.post--meta {
		td:first-child a {
			color: $scheme-4;
			font-style: italic;			
		}
	}		
	.post--permalink {
		float: right;
	}
	.post--message {
		background: white;
		min-height: 250px;
		@include span(8 of 12);
		td {
			text-align:left;
		}
	}
	.post--author {
		@include span(4 of 12);
		text-align: center;
		background: $scheme-3;
		figure {
			img {
				max-height: 150px;
			}
		}
	}

	@include breakpoint($bp-small) {
		.post--message {
			@include span(8 of 12);
		}
	}
}
.post--edit {
	height: 40px;
	border-bottom: 1px solid $scheme-2;
	background: darken($scheme-3, 10);
	.btn {
		float: right;
		width: auto;
	}
}

/* 
Block hiding
 */
.forum--hide {
	display:none;
}

@include breakpoint($bp-med) {
	.forum--hide {
		display:table-cell;
	}
	html.ielt9 table .forum--hide {
		display: block;
	}
}

/* 
Pagination
 */
.pagination, .btn-new {
	margin-bottom: $space;
	@include span(12 or 12);
	.btn {
		width: 100%;
		margin: 0;
	}

	@include breakpoint($bp-small) {
		@include span(6 of 12);
	}
}
.btn-new {
	padding: 0;
}

/* 
Profile
 */
.profile {
	figure {
		img {
			max-height:200px;
		}
		@include breakpoint($bp-small) {
			@include span(3 of 12);
		}
		@include breakpoint($bp-med) {
			@include span(2 of 12);
		}
	}
	article {
		@include breakpoint($bp-small) {
			@include span(9 of 12);
		}
		@include breakpoint($bp-med) {
			@include span(10 of 12);
		}
	}
	.edit--profile {
		clear:both;
		@include span(6 of 12);
	}
}

.home {
	//banner transition
	[class*=nner] {
		@include css3-prefix(border-radius, 10%);
		transition:opacity 3s;
		&:hover {
			opacity: 0.5;
			transition:opacity 3s;
		}
	}

	//skill bar transitions and design
	[class^=site-bar] {
		margin: $space 0;
		width: 50%;

		label {
			font:1.2em/1 Verdana;
		}

		[class=test-bar] {
			height:5px;
			width:100%;
			background: white;
			margin-bottom: $space;

			@for $i from 1 through 5 {
				&:nth-of-type(#{$i}) {
					span {
						width: $i * 10%;
						transition:width 1s ease-in;
					}
				}
			}

			span:only-child {
				display: block;
				height: 100%;
				background: red;
			}
		}
		&:hover {
			@for $i from 1 through 5 {
				[class=test-bar]:nth-of-type(#{$i}) {
					span {
						width: $i * 20%;
						transition:width 1s linear;
					}
				}
			}	
		}
	}

	//list transitions
	>section {
		&[class*=container] {
			background: white;
		}
		ul:only-child {
			li {
				padding:$space;
				font: 1.3em/1 garamond;
			}

			@for $i from 1 through 5 {
				$col : #DDDAF7;
				li:nth-child(#{$i}) {
					padding-left: $i * $space;
					transition: background 1s;
					&:hover {
						transition: background 1s;
						background:darken($col, $i*4);
					}
				}

				li:first-child {
					background: lighten($col, 6);
				}
				li:first-child + li {
					background: lighten($col, 3);
				}
				li:first-child + li + li {
					background: $col;
				}
				li:nth-child(4) {
					background: darken($col, 3);
				}
				li:nth-child(4) ~ li {
					background: darken($col, 6);
				}
			}
		}
	}
}

//Playing with selectors, keyframes and transitions
@keyframes pulse {
	0%, 100% {
		@include css3-prefix(opacity, 0.2);
		height:50px;
		width: 50px;
		background: darkred;
	}
	30%, 70% {
		top:39.8%;
		left:42.5%;
		height:100px;
		width: 100px;
		background: red;
		@include css3-prefix(opacity, 0.8);
	}
	50% {
		top:41.5%;
		left:43%;
		height:90px;
		width: 90px;
		background: lighten(darkred, 10%);
		@include css3-prefix(opacity, 0.7);
	}
}
@-webkit-keyframes pulse {
	0%, 100% {
		@include css3-prefix(opacity, 0.2);
		height:50px;
		width: 50px;
		background: darkred;
	}
	30%, 70% {
		top:39.8%;
		left:42.5%;
		height:100px;
		width: 100px;
		background: red;
		@include css3-prefix(opacity, 0.8);
	}
	50% {
		top:41.5%;
		left:43%;
		height:90px;
		width: 90px;
		background: lighten(darkred, 10%);
		@include css3-prefix(opacity, 0.7);
	}
}
@-moz-keyframes pulse {
	0%, 100% {
		@include css3-prefix(opacity, 0.2);
		height:50px;
		width: 50px;
		background: darkred;
	}
	30%, 70% {
		top:39.8%;
		left:42.5%;
		height:100px;
		width: 100px;
		background: red;
		@include css3-prefix(opacity, 0.8);
	}
	50% {
		top:41.5%;
		left:43%;
		height:90px;
		width: 90px;
		background: lighten(darkred, 10%);
		@include css3-prefix(opacity, 0.7);
	}
}
@-o-keyframes pulse {
	0%, 100% {
		height:50px;
		width: 50px;
		background: darkred;
		@include css3-prefix(opacity, 0.2);
	}
	30%, 70% {
		top:39.8%;
		left:42.5%;
		height:100px;
		width: 100px;
		background: red;
		@include css3-prefix(opacity, 0.8);
	}
	50% {
		top:41.5%;
		left:43%;
		height:90px;
		width: 90px;
		background: lighten(darkred, 10%);
		@include css3-prefix(opacity, 0.7);
	}
}

.ball {
	@include css3-prefix(border-radius, 50%);
	background: red;
	top:45%;
	left:45%;
	height:50px;
	width:50px;
	position: absolute;
}

.contain {
	position: relative;
	height: 500px;
	width: 100%;
	background: #ccc;
	@include css3-prefix(border-radius, 5%);

	&:hover {
		.ball:first-child:not(:only-child) {
			@include css3-prefix(animation, pulse 1s infinite ease-in);
		}
		.ball:nth-child(2) {
			@include css3-prefix(animation, pulse 2s infinite ease-in);
		}
		.ball:nth-child(3) {
			@include css3-prefix(animation, pulse 2s infinite ease-in 1s);
		}
	}
}

.bx {
	position: relative;
	margin: $space 0;
	transition:background 3s, height 5s;
}
.bx.active {
	height:90px;
	background: blue;
	transition:background 3s, height 5s;
}

.hex-container {
	margin: 20px 0 75px;
}
.hex-bar {
	position: relative;
	z-index:0;
	text-align:center;

	.hexagon {
		height: 130px;
		width: 125px;
	    position: relative;
		
		&:after {
		    content: '';
		    width: 0;
		    height: 0;
		    position: absolute;
		    top: 130px;
		    left: 0;
		    border-left: 62.5px solid transparent;
		    border-right: 62.5px solid transparent;
		    border-top: 40px solid #fc5e5e;
		}

		& + .hexagon {
			position: absolute;
			top:10px;
			left:3px;
			background: darkred;
			z-index:-1;
			@include rotate(-2deg);
		}	
	
		span {
			display: block;
			font: 4em/1 garamond;
			padding-top: 40%;
		}
	}

	&:nth-child(odd) {
		margin: 50px 0 0;
		background: #fc5e5e;
		.hexagon {
			&:first-child {
				background:#fc5e5e ;
			}
			&:first-child:after {
				border-top-color:#fc5e5e ; 
			}
			& + .hexagon {
				background: darkred;
			}
			& + .hexagon:after {
				border-top-color:darkred;
			}
		}
	}

	&:nth-child(even) {
		padding-left: 50px;
		background: $scheme-3;
		margin: 10px 0 75px;
		z-index: -1;
		.hexagon {
			&:first-child {
				background: $scheme-3;
			}
			&:first-child:after {
				border-top-color: $scheme-3; 
			}
			& + .hexagon {
				left: 52px;
				background: darken($scheme-3, 20);
			}
			& + .hexagon:after {
				border-top-color: darken($scheme-3, 20);
			}
		}
	}
}