.site-main {
	clear: both;
}
.site-container {
	margin: $space 0;
	overflow: hidden;
	h1 {
		padding-bottom: 15px;
	}
}
.site-header {
	nav section {
		float: right;
		font-weight: bold;
		padding: $space $space-double;
	}
}
.site-banner {
	display: block;
	padding: 25% 0;
	background: url(../../img/li.jpg) center center no-repeat;
	background-size: cover;
}
.site-article {
	padding: $space-double;
	margin-bottom: $space;
	background: lighten($primary, 100);
	text-align:left;
}

/* 
Latest activity block
 */
.latest_activity {
	background: darken($scheme-3, 10);
	padding:$space-half;
	h1 {
		font-size: 1.1em;
		padding-bottom: 0;
	}
}

/* 
Forum table styling --needs tidying up--
 */
section>table {
	a {
		text-decoration: underline;
	}
	margin: 1% 0;
	border: 1px solid $scheme-1;

	thead {
		tr {
			background: darken($scheme-3, 20);
			border-bottom:1px solid black;
		}
		th {
			padding: 10px 0;
			font-size: 1.2em;
		}
	}

	>tbody {
		>td {
			padding-top: $space*1.5;
		}	
		>tr:nth-child(odd) {
			a:hover {
				color: $scheme-4;
			}
			a.btn:hover {
				color:white;
			}
		}
		>tr:nth-child(even) {
			background: $scheme-5;
		}
	}
	.forum--group-title {
		th {
			background: darken($scheme-3, 20);
			font-size: 1.4em;
			padding:$space-half/2;
		}
	}
	.forum--empty {
		padding: 10px;
	}
	.forum--title {
		@include span(9 of 12);
		padding-left: $space;
		a {
			text-decoration: none;
			display: block;
			padding: $space*1.5 $space;
		}
	}
	td.forum--title {
		padding: 0;
		line-height: 1;
		span {
			font-size: 0.8em;
			font-style: italic;
		}
	}
	.forum--latest {
		@include span(3 of 12);
	}
	td.forum--latest, td.forum--stats, td.forum--author, .forum--meta {
		font-size: 0.9em;
	}
	
	@include breakpoint($bp-med) {
		&.index {
			.forum--title {
				@include span(8 of 12);
			}
			.forum--stats, .forum--author {
				text-align: center;
			}
		}
		.forum--title {
			@include span(6 of 12);
		}
		.forum--stats {
			@include span(2 of 12);
			text-align: right;
		}
		.forum--author {
			@include span(2 of 12);
			text-align: center;
		}
		.forum--latest {
			@include span(2 of 12);
		}
	}
}

/* 
Posts
 */
.post {
	.post--meta {
		color: $scheme-4;
	}		
	.post--permalink {
		float: right;
	}
	.post--message {
		background: white;
		min-height: 250px;
		@include span(8 of 12);
		td {
			text-align:left;
		}
	}
	.post--author {
		@include span(4 of 12);
		text-align: center;
		background: $scheme-3;
		figure {
			img {
				max-height: 150px;
			}
		}
	}

	@include breakpoint($bp-small) {
		.post--message {
			@include span(8 of 12);
		}
	}
}
.post--edit {
	height: 40px;
	border-bottom: 1px solid $scheme-2;
	.btn {
		float: right;
		width: auto;
	}
}

/* 
Block hiding
 */
.forum--hide {
	display:none;
}

@include breakpoint($bp-med) {
	.forum--hide {
		display:table-cell;
	}
	html.ielt9 table .forum--hide {
		display: block;
	}
}



/* 
Pagination
 */
.pagination, .btn-new {
	@include span(6 of 12);
	margin-bottom: $space;
	.btn {
		float: right;
	}
}


/* 
Profile
 */
.profile {
	figure {
		img {
			max-height:200px;
		}
		@include breakpoint($bp-small) {
			@include span(3 of 12);
		}
		@include breakpoint($bp-med) {
			@include span(2 of 12);
		}
	}
	article {
		@include breakpoint($bp-small) {
			@include span(9 of 12);
		}
		@include breakpoint($bp-med) {
			@include span(10 of 12);
		}
	}
	.edit--profile {
		clear:both;
		@include span(6 of 12);
	}
}